<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AplicacionBlogNotas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AplicacionBlogNotas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AplicacionBlogNotas.Properties.Settings>
            <setting name="Username" serializeAs="String">
                <value>Panther</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>123456</value>
            </setting>
            <setting name="Origin" serializeAs="String">
                <value>Overlord</value>
            </setting>
            <setting name="Url" serializeAs="String">
                <value>http://localhost:3000/</value>
            </setting>
        </AplicacionBlogNotas.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <AplicacionBlogNotas.Properties.Settings>
            <setting name="Token" serializeAs="String">
                <value />
            </setting>
        </AplicacionBlogNotas.Properties.Settings>
    </userSettings>
</configuration>